//Variables
$fontstyle: "Karla",
sans-serif;
$font-size: 16px;

html {
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: $fontstyle;
  font-size: $font-size;
  background-color: hsl(204, 43%, 93%);
  box-sizing: border-box;
}

.main {
  box-sizing: border-box;

  .main__card {
    width: 50%;
    margin: 5em auto;
    display: grid;
    box-shadow: 0 10px 20px 0 (#0c0c0c3b);
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 2fr);

    // media query
    @media only screen and (max-width: 375px) {
      display: block;
      width: 95%;
      margin: 0 auto;

    }

    // media query
    @media only screen and (max-width: 768px) {
      width: 80%;
      margin: 1em auto
    }

    .wrapper {
      padding: 1.5em 2.5em;

      // media query
      @media only screen and (max-width: 375px) {
        text-align: left;
        padding: 0.5em 1.7em;
      }

    }

    // Top Section of Card
    .card__top {
      background-color: white;
      grid-column: 1 / 3;
      grid-row: 1 / 1;
      font-size: $font-size;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      .card__header {
        color: hsl(179, 62%, 43%);
        line-height: 1.5;
      }

      .card__promise {
        color: hsl(71, 73%, 54%);
        font-weight: 700;
      }

      .card__p {
        color: hsl(218, 22%, 67%);
        width: 90%;
        line-height: 1.5;
      }
    }
  }

  // Card bottom left section
  .card__bt_left {
    background: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
    padding-top: 1.5em;
    border-bottom-left-radius: 8px;

    // media query
    @media only screen and (max-width: 375px) {
      border-bottom-left-radius: 0px;
      padding: 0em 1em;
      margin-bottom: 1em;
    }
  }
}

.bt_left__header {
  font-weight: 700;
  font-size: 1.1em;
}

.price {
  font-weight: 300;
  color: #83edf9a3;
}

.price_bold {
  font-weight: 700;
  font-size: 2em;
  margin-right: 0.4em;
  color: hsl(204, 43%, 93%);
}

// Card button
.card__button {
  background: hsl(71, 73%, 54%);
  color: hsl(204, 43%, 93%);
  width: 83%;
  padding: 0.9em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-weight: 700;
  font-family: $fontstyle;
  color: whitesmoke;
  margin-top: 1em;
  box-shadow: 0 10px 20px 0 (#0c0c0c3b);

  // media query
  @media only screen and (max-width: 375px) {
    width: 95%;
    padding-bottom: 1em;
  }
}

.card__button:hover {
  background: #000;
  cursor: pointer;
  color: hsl(71, 73%, 54%);
}

// Card bottom right section
.card__bt_right {
  background: #39b2b0e0;
  color: hsl(204, 43%, 93%);
  padding-top: 1.5em;
  border-bottom-right-radius: 8px;

  // header
  .bt_right__header {
    font-weight: 700;
    font-size: 1.1em;
    color: hsl(204, 43%, 93%);
  }

  .bt_right__list {
    list-style-type: none;
    padding: 0;
    line-height: 1.4;
    color: hsl(204, 43%, 93%);
    font-size: $font-size;

    .list_item {
      font-weight: 300;

    }
  }
}

.footer {
  width: 100%;
  margin: 0 auto;
}